<a href="https://colab.research.google.com/github/Nithish911/Python/blob/main/assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10.	Merge patient demographic data with medical test results using Pandas.

In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('/content/heart_disease.csv')

In [68]:
#data joining
df1 = df[["age","sex","chol"]].head(6)
df2 = df[["age","trestbps","fbs"]].head(6)
print(df1)
print(df2)

   age  sex  chol
0   63    1   233
1   37    1   250
2   41    0   204
3   56    1   236
4   57    0   354
5   57    1   192
   age  trestbps  fbs
0   63       145    1
1   37       130    0
2   41       130    0
3   56       120    0
4   57       120    0
5   57       140    0

In [64]:
#inner
merged_df = pd.merge(df1, df2, on = "age",how = "inner")
print(merged_df)

   age  sex  chol  trestbps  fbs
0   63    1   233       145    1
1   37    1   250       130    0
2   41    0   204       130    0
3   56    1   236       120    0
4   57    0   354       120    0
5   57    0   354       140    0
6   57    1   192       120    0
7   57    1   192       140    0

In [65]:
#left
left_merged_df = pd.merge(df1, df2, on = "age", how = "left")
print(left_merged_df)

   age  sex  chol  trestbps  fbs
0   63    1   233       145    1
1   37    1   250       130    0
2   41    0   204       130    0
3   56    1   236       120    0
4   57    0   354       120    0
5   57    0   354       140    0
6   57    1   192       120    0
7   57    1   192       140    0

In [66]:
#right
right_merged_df = pd.merge(df1, df2, on = "age", how = "right")
print(right_merged_df)

   age  sex  chol  trestbps  fbs
0   63    1   233       145    1
1   37    1   250       130    0
2   41    0   204       130    0
3   56    1   236       120    0
4   57    0   354       120    0
5   57    1   192       120    0
6   57    0   354       140    0
7   57    1   192       140    0

In [67]:
#outer
outer_merged_df = pd.merge(df1, df2, on = "age", how = "outer")
print(outer_merged_df)

   age  sex  chol  trestbps  fbs
0   63    1   233       145    1
1   37    1   250       130    0
2   41    0   204       130    0
3   56    1   236       120    0
4   57    0   354       120    0
5   57    0   354       140    0
6   57    1   192       120    0
7   57    1   192       140    0

In [69]:
# Data Combining
df3 = df[["age","cp","thal"]].head(6)
print(df3)

   age  cp  thal
0   63   3     1
1   37   2     2
2   41   1     2
3   56   1     2
4   57   0     2
5   57   0     1

In [35]:
#concat vertical
concat_df = pd.concat([df1, df3],ignore_index=True)
print(concat_df)

    age  sex   chol   cp  thal
0    63  1.0  233.0  NaN   NaN
1    37  1.0  250.0  NaN   NaN
2    41  0.0  204.0  NaN   NaN
3    56  1.0  236.0  NaN   NaN
4    57  0.0  354.0  NaN   NaN
5    57  1.0  192.0  NaN   NaN
6    63  NaN    NaN  3.0   1.0
7    37  NaN    NaN  2.0   2.0
8    41  NaN    NaN  1.0   2.0
9    56  NaN    NaN  1.0   2.0
10   57  NaN    NaN  0.0   2.0
11   57  NaN    NaN  0.0   1.0

In [36]:
#concat horizontal
concat_df = pd.concat([df1, df3],axis=1)
print(concat_df)

   age  sex  chol  age  cp  thal
0   63    1   233   63   3     1
1   37    1   250   37   2     2
2   41    0   204   41   1     2
3   56    1   236   56   1     2
4   57    0   354   57   0     2
5   57    1   192   57   0     1

In [45]:
#Appending Data
appended_df = pd.concat([df1, df3])
print(appended_df)

   age  sex   chol   cp  thal
0   63  1.0  233.0  NaN   NaN
1   37  1.0  250.0  NaN   NaN
2   41  0.0  204.0  NaN   NaN
3   56  1.0  236.0  NaN   NaN
4   57  0.0  354.0  NaN   NaN
5   57  1.0  192.0  NaN   NaN
0   63  NaN    NaN  3.0   1.0
1   37  NaN    NaN  2.0   2.0
2   41  NaN    NaN  1.0   2.0
3   56  NaN    NaN  1.0   2.0
4   57  NaN    NaN  0.0   2.0
5   57  NaN    NaN  0.0   1.0

In [46]:
#Data Reshaping
df4 = df[["age","cp","thal"]].head(6)
print(df4)

   age  cp  thal
0   63   3     1
1   37   2     2
2   41   1     2
3   56   1     2
4   57   0     2
5   57   0     1

In [47]:
# Melt the data
melted_df = pd.melt(df4, id_vars=['age'], value_vars=['cp', 'thal'])
print(melted_df)

    age variable  value
0    63       cp      3
1    37       cp      2
2    41       cp      1
3    56       cp      1
4    57       cp      0
5    57       cp      0
6    63     thal      1
7    37     thal      2
8    41     thal      2
9    56     thal      2
10   57     thal      2
11   57     thal      1

In [61]:
#Pivoting Data
pivoted = df4.pivot(index=['age','cp'],columns="thal",values='thal')
print(pivoted)

thal      1    2
age cp
37  2   NaN  2.0
41  1   NaN  2.0
56  1   NaN  2.0
57  0   1.0  2.0
63  3   1.0  NaN

In [62]:
#Using Stack and Unstack
stack_df = df4.stack()
print(stack_df)

0  age     63
   cp       3
   thal     1
1  age     37
   cp       2
   thal     2
2  age     41
   cp       1
   thal     2
3  age     56
   cp       1
   thal     2
4  age     57
   cp       0
   thal     2
5  age     57
   cp       0
   thal     1
dtype: int64

In [63]:
unstack_df = df4.unstack()
print(unstack_df)

age   0    63
      1    37
      2    41
      3    56
      4    57
      5    57
cp    0     3
      1     2
      2     1
      3     1
      4     0
      5     0
thal  0     1
      1     2
      2     2
      3     2
      4     2
      5     1
dtype: int64